<?xml version="1.0" encoding="utf-8" ?>
<log4net>

	<appender name="ErrorFile" type="log4net.Appender.RollingFileAppender">
		<file value="Logs/Error_" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="yyyyMMdd'.log'" />
		<staticLogFileName value="false" />

		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="ERROR" />
			<levelMax value="ERROR" />
		</filter>

		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[ERROR] %date{yyyy-MM-dd HH:mm:ss.fff} - %message%newline%exception" />
		</layout>
	</appender>

	<appender name="InfoFile" type="log4net.Appender.RollingFileAppender">
		<file value="Logs/Info_" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="yyyyMMdd'.log'" />
		<staticLogFileName value="false" />

		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="INFO" />
			<levelMax value="INFO" />
		</filter>

		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[INFO] %date{yyyy-MM-dd HH:mm:ss.fff} - %message%newline" />
		</layout>
	</appender>

	<appender name="DebugFile" type="log4net.Appender.RollingFileAppender">
		<file value="Logs/Debug_" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="yyyyMMdd'.log'" />
		<staticLogFileName value="false" />

		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="DEBUG" />
			<levelMax value="DEBUG" />
		</filter>

		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[DEBUG] %date{yyyy-MM-dd HH:mm:ss.fff} - %message%newline" />
		</layout>
	</appender>

	<appender name="WarnFile" type="log4net.Appender.RollingFileAppender">
		<file value="Logs/Warn_" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="yyyyMMdd'.log'" />
		<staticLogFileName value="false" />

		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="WARN" />
		</filter>

		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[WARN] %date{yyyy-MM-dd HH:mm:ss.fff} - %message%newline" />
		</layout>
	</appender>

	<appender name="FatalFile" type="log4net.Appender.RollingFileAppender">
		<file value="Logs/Fatal_" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="yyyyMMdd'.log'" />
		<staticLogFileName value="false" />

		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="FATAL" />
			<levelMax value="FATAL" />
		</filter>

		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[FATAL] %date{yyyy-MM-dd HH:mm:ss.fff} - %message%newline%exception" />
		</layout>
	</appender>

	<root>
		<level value="ALL" />

		<appender-ref ref="ErrorFile" />
		<appender-ref ref="InfoFile" />
		<appender-ref ref="DebugFile" />
		<appender-ref ref="WarnFile" />
		<appender-ref ref="FatalFile" />
	</root>

</log4net>
